// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$primary: #0073e5;
$success: #008049;
$gradient: linear-gradient(45deg, $primary, $success);
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// 4. Include any optional Bootstrap components as you like
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/mixins/box-shadow";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";

// 5. Add additional custom code here
@font-face {
    font-family: irsans;
    src: url(../fonts/irsans.ttf);
}

body {
    font-family: 'irsans';
    background-repeat: no-repeat;
    background-attachment: fixed;
}

table {
    @extend .table;
    @extend .table-hover;
    @extend .table-secondary ;
    @extend .table-borderless;
    th {
        background-color: $success;
        color: $light;
    }
    tr {
        border: solid 2px $light;
    }
}

td a {
    @extend .btn;
    @extend .btn-primary;
    background-color: $primary;
    padding-top: 1px;
    padding-bottom: 1px;
}

p a {
    @extend .btn;
    @extend .btn-primary;
    background-color: $primary; 
    width: 200px;
    padding: 1px;
    margin-right: 5px;
    margin-left: 5px;
}

hr {
    visibility: hidden;
    margin-bottom: 15px;
}

.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    p {
        display: flex;
        flex-direction: row;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.profile-pic {
    position: absolute;
    width: 45px;
    height: 45px;
    right: 3%;
    top: 3%;
    img {
        border-radius: 100%;
    }
}

.navbar {
    @extend .navbar-expand-lg; 
    @extend .navbar-expand-md; 
    @extend .navbar-light; 
    background-color: $light;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 3000;
}