// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$header-margin: 35px;
$primary: #0073e5;
$success: #008049;
$nav-link-color: #878787;
$text-color: #4e4e4e;
$gradient: linear-gradient(45deg, $primary, $success);
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";

// 4. Include any optional Bootstrap components as you like
@import "../node_modules/bootstrap/scss/root";
@import "../node_modules/bootstrap/scss/mixins/breakpoints";
@import "../node_modules/bootstrap/scss/reboot";
@import "../node_modules/bootstrap/scss/type";
@import "../node_modules/bootstrap/scss/images";
@import "../node_modules/bootstrap/scss/buttons";
@import "../node_modules/bootstrap/scss/tables";
@import "../node_modules/bootstrap/scss/navbar";
@import "../node_modules/bootstrap/scss/mixins/box-shadow";
@import "../node_modules/bootstrap/scss/containers";
@import "../node_modules/bootstrap/scss/grid";

// 5. Add additional custom code here

// Default styles for tags
@font-face {
    font-family: irsans;
    src: url(../fonts/irsans.ttf);
}

body {
    font-family: 'irsans';
    color: $text-color;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    color: $dark;
    margin: 5px;
    margin-top: $header-margin;
    margin-bottom: $header-margin;
}

h2, h3, h4, h5, h6 {
    margin: 5px;
    margin-top: $header-margin; 
    margin-bottom: calc($header-margin / 3); 
}

table {
    @extend .table;
    @extend .table-hover;
    @extend .table-secondary ;
    @extend .table-borderless;
    color: $text-color;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 30px;
    align-self: center;
    th {
        background-color: $success;
        color: $light;
    }
    thead {
        box-shadow: 0 -3px 10px #8b8b8b;
    }
    tbody {
        box-shadow: 0 3px 10px #8b8b8b;
        tr {
            border: solid 2px $light;
            border-right: none;
            border-left: none;
        }
    }
}

td a {
    @extend .btn;
    @extend .btn-primary;
    background-color: $primary;
    padding-top: 1px;
    padding-bottom: 1px;
}

p {
    margin: 5px;
}

p a {
    @extend .btn;
    @extend .btn-primary;
    background-color: $primary; 
    width: 200px;
    padding: 1px;
    margin: 0;
    margin-left: 5px;
}

hr {
    visibility: hidden;
    margin-bottom: 15px;
}

canvas {
    width: 25% !important;
    height: 25% !important;
    padding: 15px;
    border-style: dashed;
    border-radius: 5px;
    border-color: $success;
    margin: 15px;
}

// Custome classes
.content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    p {
        display: flex;
        flex-direction: row;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.profile-pic {
    position: relative;
    display: flex;
    width: 45px;
    height: 45px;
    right: 3%;
    top: 3%;
    img {
        border-radius: 100%;
    }
}

.navbar {
    @extend .navbar-expand-lg; 
    @extend .navbar-expand-md; 
    @extend .navbar-light; 
    background-color: $light;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 3000;
}

.social-item {
    border-radius: 5px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 3px;
}

.service-group {
    display: flex;
    flex-flow: column;
    align-items: center;
    margin-top: 20px;
}

.service {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}

.home-navbar {
    .navbar-brand {
        visibility: hidden;
    }
}

.btn {
    box-shadow: 0 0 10px #8b8b8b; 
}

.event-form {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-self: center;
    background-color: $light;
    width: 250px;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 0 10px #8b8b8b; 
}

.form-section {
    width: 220px;
    margin: 5px;
}

// Post styls for capturing event
#capture-post {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;

    position: absolute; 
    right: 100vw;

    width: 1080px;
    height: 1080px;
    padding-right: 20px;
}

.post-content {
    display: flex;
    flex-flow: column;
    width: 75%;
    p { font-size: 28px; }
    h1 { font-size: 64px; }
    h2 { font-size: 56px; }
    h3 { font-size: 44px; }
    h4 { font-size: 40px; }
    h5 { font-size: 36px; }
    hr { margin-top: 64px;}
    ul { 
        font-size: 28px; 
        list-style: none; 
        padding: 0; 
    }
    a {
        font-size: 28px;
        color: $text-color;
    }
}

.post-icons {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: end;
    width: 25%;
    background-image: $gradient;
    padding: 5px;
    img {
        width: 100%;
        padding-top: 5px;
        padding-bottom: 5px;
        padding-right: 15%;
        padding-left: 15%;
    }
}

// Story styls for capturing event
#capture-story {
    @extend #capture-post;
    flex-flow: column;
    width: 1080px !important;
    height: 1920px !important;
    right: 200vw;
}

.story-content {
    @extend .post-content;
    flex-flow: column;
    width: 100% !important;
    margin-top: 64px;
    p { font-size: 42px; }
    h1 { font-size: 72px; }
    h2 { font-size: 64px; }
    h3 { font-size: 56px; }
    h4 { font-size: 44px; }
    h5 { font-size: 40px; }
    hr { margin-top: 160px;}
    ul { 
        font-size: 28px; 
        list-style: none; 
        padding: 0; 
    }
    a {
        font-size: 42px;
        color: $text-color;
    }
}

.story-icons {
    @extend .post-icons;
    position: absolute;
    right: 0;
    bottom: 0;
    flex-flow: row;
    justify-content: flex-start;
    width: 100%;
    height: 200px;
    img {
        width: 200px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-right: 15px;
        padding-left: 15px;
    }
}

.event-lecturer-pic {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    img {
        border-radius: 100%;
    }
}

// Customize styles in breakpoints
@include media-breakpoint-down(md) {
    p {
        display: block;
    }
    p a {
        display: block;
    }
    canvas {
    width: 25% !important;
    height: 25% !important;
    }
}

@include media-breakpoint-down(sm) {
    .card {
        p, h1, h2, h3, h4, h5, h6 {
            padding-right: 5px;
            padding-left: 5px;
        }
    }
    canvas {
    width: 50% !important;
    height: 50% !important;
    }
}