[submodule "References"]
	path = References
	url = git@github.com:ceituut/References.git
[submodule "Laboratory"]
	path = Laboratory
	url = git@github.com:ceituut/Laboratory.git
[submodule "_faqs"]
	path = _faqs
	url = git@github.com:ceituut/_faqs.git
[submodule "guide"]
	path = guide
	url = git@github.com:ceituut/guide.git
