---
title: "وبلاگ"
---

<div class="flex w-full flex-col items-center">
    {% for post in site.posts %}
        {% include post.html %}
    {% endfor %}
    <!-- authors -->
    {% include authors.html %}
</div>
<!-- persin-long-date madule -->
<script src="./assets/js/persian-long-date.js"></script>
<!-- change date to persian -->
<script>
    let dateElements = document.querySelectorAll(".date");
    dateElements.forEach(element => {
        element.innerHTML = getPersianDate(element.innerHTML);
    element.style.visibility = "visible";
    });
</script>
