---
title: "انتشارات"
---
<div class="collection-container" x-data="{ posts: [] }" 
x-init="posts = await (await fetch('/assets/blog-data.json')).json()">
    <!-- Page header -->
    {% include page-header.html %}
    <div class="page-header"><h1>{{ page.title }}</h1></div>

    <!-- Posts -->
    <template x-for="post in posts">
        <div class="card">
            <div class="card-body">
                <!-- Subject -->
                <h4 class="card-title" x-text="post.title"></h4>
                <!-- Categories -->
                <h5 class="card-subtitle" x-text="post.categories"></h5>
                <!-- Excerpt -->
                <p class="card-text" x-text="post.excerpt"></p>
            </div>
            <!-- Date -->
            <div class="card-footer non-important justify-end" dir="ltr">
                <p class="m-0" x-text="getPersianDate(post.date)"></p>
            </div>
            <!-- Link -->
            <div class="card-button"><a :href="post.link">مطالعه</a></div>
        </div>        
    </template>

    <!-- Authors -->
    {% include authors.html %}
</div>
