---
title: "مسابقات"
---
<div class="flex flex-col w-full mx-3">
    {% assign contest_collection = site.UUTCodeChallenge | reverse %}
    {% for contest in contest_collection %}
    <div class="card">
        <div class="card-body">
            <!-- Contest subject -->
            <h4 class="card-title">
                {% include svgs/balloon.svg %}
                {% assign contest_number = contest.number %}
                {{ contest.title | append: " " | append: contest_number }}
            </h4>
            <!-- Score -->
            <h5 class="card-subtitle">
                امتیاز: 
                {{ contest.score }}
            </h5>
        </div>
        <!-- Date -->
        <div class="card-footer">
            <!-- Start date -->
            <p class="card-text m-0 date non-important invisible">
                {{ contest.start_date | date_to_string }}
            </p>
            <p class="card-text m-0 non-important">
                ساعت {{ contest.start_date | date: "%H:%M" }}
            </p>
        </div>
        <!-- Link -->
        <div class="card-button">
            <a href="{{ contest.url }}">مشاهده</a>
        </div>
    </div>
    {% endfor %}
</div>
<!-- persin-long-date madule -->
<script src="./assets/js/persian-long-date.js"></script>
<!-- change date to persian -->
<script>
    let eventDateElements = document.querySelectorAll(".date");
    eventDateElements.forEach(element => {
        element.innerHTML = getPersianDate(element.innerHTML);
    element.style.visibility = "visible";
    });
</script>
