---
title: "رویدادها"
---
<div id="#collection" class="collection-container" 
    x-data="collection" dataPath="/assets/events-data.json">
    <!-- Page header -->
    {% include page-header.html %}
    <div class="page-header"><h1>{{ page.title }}</h1></div>

    <!-- Filter -->
    {% include collection/filter.html %}

    <!-- Events -->
    <template x-for="item in filtered">
        <div class="card">
            <div class="card-body">
                <!-- Subject -->
                <h4 class="card-title" x-text="item.title"></h4>
                <!-- Lecturer -->
                <h5 class="card-subtitle" x-text="item.lecturer"></h5>
            </div>
            <!-- Date -->
            <div class="card-footer non-important">
                <p class="card-text m-0" x-text="getPersianDate(item.date)"></p>
                <p class="card-text m-0" x-text="'ساعت ' + item.time"></p>
            </div>
            <!-- Link -->
            <div class="card-button"><a :href="item.link">مشاهده</a></div>
        </div>        
    </template>

    <!-- Pagination -->
    {% include collection/pagination.html %}
</div>
