---
title: "رویدادها"
---
<div class="collection-container">
    {% assign event_collection = site.events | reverse %}
    {% for event in event_collection %}
    <div class="card">
        <div class="card-body">
            <!-- Event subject -->
            <h4 class="card-title">
                {% include svgs/bell.svg %}
                {{ event.title }}
            </h4>
            <!-- Lecturer -->
            <h5 class="card-subtitle">
                {{ event.lecturer }}
            </h5>
        </div>
        <!-- Date -->
        <div class="card-footer">
            <p class="card-text m-0 date non-important invisible">
                {{ event.date | date_to_string }}
            </p>
            <p class="card-text m-0 non-important">
                ساعت {{ event.date | date: "%H:%M" }}
            </p>
        </div>
        <!-- Link -->
        <div class="card-button">
            <a href="{{ event.url }}">مشاهده</a>
        </div>
    </div>
    {% endfor %}
</div>
<!-- persin-long-date madule -->
<script src="{% link assets/js/persian-long-date.js %}"></script>
<!-- change date to persian -->
<script>
    let eventDateElements = document.querySelectorAll(".date");
    eventDateElements.forEach(element => {
        element.innerHTML = getPersianDate(element.innerHTML);
    element.style.visibility = "visible";
    });
</script>
