---
title: "سوالات متداول"
---
<div class="flex flex-col w-full mx-1">
    {% for faq in site.faqs %}
    <div class="card">
        <div class="card-body">
            <!-- FAQ question -->
            <h5 class="card-title">
                {% include svgs/question-lg.svg %}
                {{ faq.question }}
            </h5>
            <!-- FAQ categories -->
            <h6 class="card-subtitle">
                {{ faq.categories }}
            </h6>
        </div>
        <div class="card-button">
            <a href="{{ faq.url }}">مشاهده</a>
        </div>
    </div>
    {% endfor %}
</div>