---
layout: post
title: "حمایت"
permalink: /sponsor/
---
<div>
  <!-- Developers -->
  <h1>تیم توسعه وب سایت</h1>
  {% assign contributions = site.data.contributions %}
  {% for item in contributions %}
  <!-- Section -->
  <h5>{{ item.section }}</h5>
  <div class="contributors flex flex-row flex-wrap mb-8">
    <!-- Contributors -->
    {% for github_id in item.github_id %}
    {% assign github_link = "https://github.com/" | append: github_id %}
    {% assign github_pic = github_link | append: ".png" %}
    <div class="profile-picture relative w-20 mr-4 mb-4">
      <img src='{{ github_pic }}' alt="{{ github_id }}">
      <a class="github-icon relative" href="{{ github_link }}">{% include svgs/social/github.svg %}</a>
    </div>
    {% endfor %}
  </div>
  {% endfor %}
  <h2>حمایت از ما</h2>
  <!-- sponsor -->
  <div class="flex flex-row">
    <a class="btn-primary w-32 flex flex-row items-center justify-center" href="https://github.com/ceituut/ceituut.github.io">
      <p class="m-0 py-0">ستاره</p>
      {% include svgs/star.svg %}
    </a>
    <a class="btn-primary w-32 flex flex-row items-center justify-center" href="https://www.coffeete.ir/amirihusayn">
      <p class="m-0 py-0">قهوه</p>
      {% include svgs/cup.svg %}
    </a>
    <a class="btn-primary w-32 flex flex-row items-center justify-center" href="/collections/guide/">
      <p class="m-0 py-0">کمک</p>
      {% include svgs/activity.svg %}
    </a>
  </div>
</div>