@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reusable components */
@layer components {
  /* Button components */
  .btn {
    @apply text-center
        bg-none text-slate-700 
        font-semibold;
  }
  .btn-primary {
    @apply m-1 py-1 px-2 
        text-center
        bg-teal-500 text-slate-200 
        bg-opacity-75
        font-semibold rounded-md
        hover:bg-teal-600 focus:outline-none 
        focus:ring-2 focus:ring-teal-500 
        focus:ring-opacity-75
        drop-shadow shadow-sm;
  }
  .btn-light {
    @apply btn-primary 
        bg-slate-300 text-slate-500  
        hover:bg-slate-400
        focus:bg-slate-400
        focus:ring-slate-400;
  }
  .btn-green {
    @apply btn-light 
        bg-green-300 
        hover:bg-green-400
        focus:ring-green-400;
  }
  .btn-red {
    @apply btn-light 
        bg-red-300 
        hover:bg-red-400
        focus:ring-red-400;
  }
  .btn-disabled {
    @apply btn-primary
        bg-slate-300 text-slate-400 
        pointer-events-none;
  }

  /* Form components */
  .form {
    @apply flex flex-col w-full h-auto 
        justify-center items-start
        rounded-t-none mt-0 py-3;
  }
  .form-element {
    @apply bg-slate-300 text-slate-700
        focus:outline-none focus:bg-slate-700 
        focus:shadow focus:text-slate-200 font-bold 
        drop-shadow-sm rounded-lg px-4 py-1 mx-0 my-1 w-full md:w-48;
  }
  .form-content {
    @apply form-element overflow-y-scroll grow self-stretch mr-1.5;
  }

  /* Card components */
  .card {
    @apply w-full
        bg-slate-200
        rounded-t-md rounded-b-sm
        p-0 mb-6;
  }
  .card-body {
    @apply p-0;
  }
  .card-title {
    @apply flex flex-row
        justify-start items-center
        text-slate-700 font-bold
        rounded-t-md px-2 pt-2 mx-2 w-full;
  }
  .card-subtitle {
    @apply text-slate-400 text-sm my-0 mx-3 px-2;
  }
  .card-footer {
    @apply flex flex-row flex-wrap relative
        justify-center items-start
        pt-4 mx-2 bg-slate-300 text-slate-400
        rounded-t-md;
  }

  /* Pagination component */
  .pagination {
    @apply card flex flex-row-reverse w-full 
        justify-center items-center 
        bg-slate-300
        rounded-md p-2;
  }

  /* Profile picture component */
  .profile-picture {
    @apply flex flex-col items-center justify-center;
  }

  /* Non important component */
  .non-important {
    @apply text-slate-400;
  }

  /* Text sizes*/
  .text-2xs {
    font-size: 0.5rem /* 8px */;
    line-height: 0.75rem /* 12px */;
  }
  .text-3xs {
    font-size: 0.375rem /* 6px */;
    line-height: 0.5rem /* 8px */;
  }
}

/* Variables */
:root {
  --codegeeks-primary: #004080;
  --codegeeks-secondary: #008049;
  --my-gradient: linear-gradient(
    45deg,
    var(--codegeeks-primary),
    var(--codegeeks-secondary)
  );
  direction: rtl;
}

/* Fonts */
@font-face {
  font-family: irsans;
  src: url("..\/fonts\/irsans.ttf");
}

/* Tag styles */
body {
  @apply text-slate-600 bg-slate-900 h-screen
  bg-no-repeat bg-fixed;
  font-family: "irsans";
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply sm:p-1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold text-right;
}
h1 {
  @apply text-3xl mx-1 my-9;
}
h2 {
  @apply text-2xl m-1 mt-3;
}
h3 {
  @apply text-xl m-1 mt-3;
}
h4 {
  @apply text-xl m-1 mt-3;
}
h5 {
  @apply text-lg m-1 mt-3;
}
h6 {
  @apply text-base m-1 mt-3;
}
p {
  @apply mx-1 my-3;
}
p a {
  @apply btn-primary w-52 m-1 p-1 px-3;
}
p img {
  @apply w-full sm:w-4/5 md:w-3/4 lg:w-2/3 h-full rounded-sm;
}
ul {
  @apply text-slate-400 text-sm m-1 mt-3 list-none;
}
img {
  @apply max-w-full h-auto;
}

/* Table styles */
table {
  @apply text-slate-700 text-sm w-full my-7 self-center
  border border-solid border-slate-300 border-t-0;
}
table caption {
  @apply w-full text-xs text-right text-slate-200 bg-teal-500 
  pt-2 pb-1 px-2 rounded-t-md
  border border-solid border-slate-300 border-b-0;
}
th {
  @apply py-1 px-2;
}
thead {
  @apply bg-teal-700 text-slate-300 
  border border-solid border-slate-300 border-t-0;
}
tbody tr {
  @apply bg-slate-200 text-slate-600
  even:bg-slate-300 focus:bg-teal-400
  border border-solid border-slate-300;
}
td {
  @apply w-auto text-right py-1 px-2;
}
.horizontal-table td {
  @apply whitespace-nowrap;
}
td a {
  @apply btn-primary px-2 py-0;
}

/* Code styles */
pre {
  direction: ltr;
  @apply drop-shadow-md;
  @apply bg-none !important;
}
code {
  @apply rounded-md;
}

/* File explorer styles */
.file-explorer-header {
  @apply flex flex-row flex-wrap items-center grow bg-slate-400 text-slate-200 
  rounded-t-md p-2 font-mono drop-shadow-md w-full;
}
.file-explorer-element {
  @apply flex flex-row flex-wrap items-center  
  mr-4 mt-1 font-mono md:flex-col md:items-start;
}
.file-explorer-element p {
  @apply text-slate-500 text-sm m-0;
}
.file-explorer-content {
  @apply flex flex-col justify-start items-start flex-wrap p-4 
  bg-slate-200 rounded-b-md
  md:flex-row md:items-center drop-shadow-md;
}

/* Template styles */
#__next {
  @apply flex flex-row flex-wrap w-full 
  items-center justify-center p-2;
}
.container {
  @apply flex flex-col items-center justify-center grow-0 w-full
  py-2 px-2 lg:px-5 md:px-4 md:mr-24 sm:p-2 m-0 mb-36 text-justify;
}

/* Navbar styles */
.navbar {
  @apply fixed flex bg-slate-300 list-none z-20 p-4 m-0 
  flex-row items-center justify-evenly w-full h-auto bottom-0 right-0 mt-2 
  md:flex-col md:justify-center md:items-center 
  md:grow-0 md:w-24 md:h-full md:top-0 md:mt-0 
  drop-shadow-[0_-10px_8px_rgba(0,0,0,0.10)];
}
.navbar-item {
  @apply flex flex-col items-center px-2 py-1 md:my-4;
}
.active {
  @apply bg-slate-400 bg-opacity-50 rounded-md;
}

/* Page header styles */
.page-header-navbar {
  @apply flex flex-row flex-grow rounded-t-md items-center
    w-full m-0 py-1 px-2 lg:px-5 md:px-4 sm:px-2 rounded-b-none 
    bg-teal-500;
}
.page-header-navbar-button {
  @apply btn-light flex flex-row w-8 h-8 items-center justify-center;
}
.page-header-navbar-button p {
  @apply my-0 mx-1 py-0 text-xs;
}
.page-header {
  @apply card rounded-none w-full my-0 p-2 lg:p-5 md:p-4 sm:p-2;
}
.logo {
  @apply flex flex-row justify-end w-full;
}
.collection-container {
  @apply flex flex-col items-center w-full;
}

/* Section styles */
.sections {
  @apply flex flex-row flex-wrap items-center justify-center list-none 
  w-full h-auto py-2;
}
.section-item {
  @apply flex flex-col justify-center items-center;
}
.section-link {
  @apply btn-light flex flex-col justify-center items-center w-24 py-2;
}

/* Footer styles */
footer {
  @apply flex flex-col w-full self-center md:mr-24 mb-16 md:mb-0;
}
footer p {
  @apply block text-slate-500 text-center text-xs p-2;
}
.social-item {
  @apply rounded-md px-5 mx-1;
}
.sponsor-link {
  @apply btn-primary bg-opacity-100 fixed left-0 bottom-16 
    flex flex-row justify-center w-auto h-16 m-0 px-1 rounded-l-none;
}

/* Calendar styles */
.calendar {
  @apply w-full text-xs md:w-1/2 md:text-sm rounded-lg 
  px-0 pt-8 bg-slate-300;
}
.calendar-day-names {
  @apply grid grid-cols-7 gap-1 pb-4 pt-2
  border-b-4 border-solid border-slate-300 border-opacity-20;
}
.calendar-day-list {
  @apply grid grid-cols-7 gap-1 py-8 text-center;
}
.current-day {
  @apply btn bg-slate-700 text-slate-300;
}
.selected-day {
  @apply ring-1 ring-slate-700;
}
.calendar-header {
  @apply flex flex-row flex-wrap justify-between items-center 
  w-full rounded-md rounded-t-none px-4 py-2
  bg-slate-300 bg-opacity-20;
}

/* Tab styles */
.tab-buttons {
  @apply flex flex-row flex-wrap mt-8 mb-8 w-full;
}
.tab-buttons button {
  @apply rounded-none first:rounded-tr-md last:rounded-bl-md odd:w-1/2 even:w-1/2 
  md:first:rounded-r-md md:last:rounded-l-md odd:md:w-auto even:md:w-auto m-0;
}
.tab-buttons button:nth-child(2) {
  @apply rounded-tl-md md:rounded-none;
}
.tab-buttons button:nth-last-child(2) {
  @apply rounded-br-md md:rounded-none;
}

/* Icon styles */
.icon {
  @apply fill-slate-300 w-4 h-auto;
}
p .icon {
  @apply fill-slate-700;
}
a .icon {
  @apply fill-blue-400 bg-opacity-75;
}
.github-icon .icon {
  @apply w-6;
}
.btn-light .icon {
  @apply fill-slate-600;
}
.card-title .icon {
  @apply fill-slate-800;
}

/* Services styles */
.service {
  @apply flex flex-row justify-center items-center w-full my-3;
}
.service-group {
  @apply flex flex-col items-center w-full mt-5;
}

/* Event post image styles */
#export-post {
  @apply absolute flex flex-row flex-wrap card border-none -right-6;
  clip-path: circle(0);
  width: 270px;
  height: 270px;
}
.post-heading {
  @apply flex flex-col relative w-full m-0 p-0;
}
.post-heading p {
  @apply text-2xs text-center;
}
.post-content {
  @apply flex flex-col justify-start w-3/4 p-0.5 pr-2 -mt-5;
}
.post-content p {
  @apply text-3xs;
}
.post-content h2 {
  @apply text-base m-0 p-0;
}
.post-content h3 {
  @apply text-2xs;
}
.post-content h4 {
  @apply text-2xs;
}
.post-content h5 {
  @apply text-2xs;
}
.post-content h6 {
  @apply text-2xs;
}
.post-content ul {
  @apply text-slate-400 text-3xs px-0.5 py-0;
}
.post-content ul li {
  @apply p-0;
}
.post-bio {
  @apply flex flex-col items-start justify-start mr-1 mt-2 w-3/4;
}
.post-topics {
  @apply w-full h-20 overflow-hidden mt-0;
}
.post-icons {
  @apply flex flex-col items-center justify-end rounded-full rounded-l-none rounded-b-none w-1/4 p-1;
  background-image: var(--my-gradient);
}

/* Event story image styles */
#export-story {
  @apply absolute flex flex-col flex-wrap card border-none -right-6;
  clip-path: circle(0);
  width: 270px;
  height: 480px;
}
.story-heading {
  @apply flex flex-col relative w-full m-0 p-0;
}
.story-heading p {
  @apply text-2xs text-center;
}
.story-content {
  @apply flex flex-col items-start justify-start w-full -mt-4 p-1 pr-2;
}
.story-content p {
  @apply text-2xs;
}
.story-content h2 {
  @apply text-base m-0 p-0;
}
.story-content h3 {
  @apply text-2xs;
}
.story-content h4 {
  @apply text-2xs;
}
.story-content h5 {
  @apply text-2xs;
}
.story-content h6 {
  @apply text-2xs;
}
.story-content hr {
  @apply mt-20;
}
.story-content ul {
  @apply text-slate-400 text-2xs px-0.5 py-0;
}
.story-content ul li {
  @apply p-0;
}
.story-bio {
  @apply flex flex-col items-start justify-start mr-1 mt-6 w-1/2;
}
.story-topics {
  @apply w-full overflow-hidden h-28 -mt-4;
}
.story-icons {
  @apply absolute flex flex-row 
    items-center justify-evenly
    right-0 bottom-10 
    w-full h-14 p-1;
  background-image: var(--my-gradient);
}

/* Event printable pdf styles */
#export-pdf {
  @apply relative flex flex-row justify-center items-center flex-wrap -right-20
    card border-none m-0 p-0;
  clip-path: circle(0);
  width: 793.3px;
  height: 1122px;
}
.pdf-heading {
  @apply flex flex-col relative w-full;
}
.pdf-heading p {
  @apply text-2xl text-center;
}
.pdf-heading .event-subject {
  @apply w-full h-24 px-5;
}
.pdf-content {
  @apply flex flex-col justify-start w-3/4 p-1 pr-5 -mt-96;
}
.pdf-content p {
  @apply text-2xl;
}
.pdf-content h2 {
  @apply text-5xl;
}
.pdf-content h3 {
  @apply text-4xl;
}
.pdf-content h4 {
  @apply text-3xl;
}
.pdf-content h5 {
  @apply text-2xl;
}
.pdf-content ul {
  @apply text-slate-400 text-xl px-2 py-0;
}
.pdf-content a {
  @apply text-2xl text-slate-700;
}
.pdf-bio {
  @apply flex flex-col items-start justify-start mr-5 mt-0 w-3/4;
}
.pdf-icons {
  @apply flex flex-col items-center justify-end rounded-full rounded-l-none rounded-b-none w-1/4 h-3/4 pb-5 -mb-11;
  background-image: var(--my-gradient);
}

/* Profile image styles */
.profile-picture img {
  @apply rounded-full;
}
.profile-picture .github-icon {
  @apply absolute right-0 top-32
    rounded-full border-solid border-2 border-slate-200
    bg-slate-200;
}
.post-content .profile-picture .github-icon {
  @apply absolute -top-4 -right-2
    rounded-full border-solid border-slate-200
    bg-slate-200;
  border-width: 1px;
}
.story-content .profile-picture .github-icon {
  @apply absolute -top-5 -right-4
    rounded-full border-solid border-2 border-slate-200
    bg-slate-200;
}
.pdf-content .profile-picture .github-icon {
  @apply absolute -top-14 -right-4
    rounded-full border-solid border-slate-200
    bg-slate-200;
}
.contributors .profile-picture .github-icon {
  @apply top-14;
}
