@tailwind base;
@tailwind components;
@tailwind utilities;

/* Reusable components */
@layer components {
  /* Button components */
  .btn-primary {
    @apply m-1 py-1 px-2 
        text-center
        bg-blue-400 text-slate-100 
        bg-opacity-75
        font-semibold rounded-md shadow-md 
        hover:bg-blue-500 focus:outline-none 
        focus:ring-2 focus:ring-blue-400 
        focus:ring-opacity-75
        drop-shadow-sm;
  }
  .btn-light {
    @apply btn-primary 
        text-center
        bg-slate-300 text-gray-600 
        hover:bg-slate-400
        focus:outline-none 
        focus:ring-slate-400;
  }
  .btn-green {
    @apply btn-light 
        bg-green-300 
        hover:bg-green-400
        focus:ring-green-400;
  }
  .btn-red {
    @apply btn-light 
        bg-red-300 
        hover:bg-red-400
        focus:ring-red-400;
  }
  .btn-disabled {
    @apply btn-primary
        bg-slate-300 text-slate-400 
        pointer-events-none;
  }

  /* Form components */
  .form {
    @apply flex flex-col w-full h-auto 
        justify-center items-center
        rounded-t-none mt-0 py-3 px-2 
        lg:px-5 md:px-4 sm:px-2;
  }
  .form-element {
    @apply bg-slate-300 text-gray-700
        focus:outline-none focus:bg-gray-700 
        focus:shadow focus:text-slate-200 font-bold 
        drop-shadow-sm rounded-lg px-4 py-1 mx-1 my-1 w-48;
  }

  /* Card components */
  .card {
    @apply w-full h-auto
        bg-slate-200
        rounded-t-md
        rounded-b-sm
        p-0 mb-6
        border-solid border-4 border-b-0 border-slate-200
        drop-shadow-md;
  }
  .card-body {
    @apply p-0;
  }
  .card-title {
    @apply flex flex-row
        justify-start items-center
        text-gray-700 font-bold
        rounded-t-md
        py-2 px-2 m-0
        w-full h-auto;
  }
  .card-subtitle {
    @apply text-gray-500 my-0 mx-1 px-2 py-1;
  }
  .card-footer {
    @apply flex flex-row
        justify-between items-center
        px-2 py-2
        bg-slate-300
        text-gray-100
        rounded-md rounded-b-none
        border-0;
  }
  .card-button {
    @apply flex flex-row
        justify-center items-end                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                
        bg-slate-300
        m-0 p-0;
  }

  /* Pagination component */
  .pagination {
    @apply card flex flex-row-reverse w-full 
        justify-center items-center 
        bg-slate-300
        rounded-md p-2;
  }

  /* Profile picture component */
  .profile-picture {
    @apply flex flex-col items-center justify-center;
  }

  /* Non important component */
  .non-important {
    @apply text-gray-400;
  }

  /* Text sizes*/
  .text-2xs {
    font-size: 0.5rem /* 8px */;
    line-height: 0.75rem /* 12px */;
  }
  .text-3xs {
    font-size: 0.375rem /* 6px */;
    line-height: 0.5rem /* 8px */;
  }
}

/* Variables */
:root {
  --ceit-primary: #004080;
  --ceit-secondary: #008049;
  --my-gradient: linear-gradient(
    45deg,
    var(--ceit-primary),
    var(--ceit-secondary)
  );
  direction: rtl;
}

/* Fonts */
@font-face {
  font-family: irsans;
  src: url("..\/fonts\/irsans.ttf");
}

/* Tag styles */
body {
  @apply text-gray-700 bg-gray-900 h-screen
  bg-no-repeat bg-fixed;
  font-family: "irsans";
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply sm:p-1;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold text-right;
}
h1 {
  @apply text-3xl mx-1 my-9;
}
h2 {
  @apply text-2xl m-1 mt-3;
}
h3 {
  @apply text-xl m-1 mt-3;
}
h4 {
  @apply text-xl m-1 mt-3;
}
h5 {
  @apply text-lg m-1 mt-3;
}
h6 {
  @apply text-base m-1 mt-3;
}
p {
  @apply text-base mx-1 my-3;
}
p a {
  @apply btn-primary w-52 m-1 p-1 px-3;
}
p img {
  @apply w-full sm:w-4/5 md:w-3/4 lg:w-2/3 h-full rounded-sm;
}
ul {
  @apply text-gray-400 text-sm m-1 mt-3 list-none;
}
img {
  @apply max-w-full h-auto;
}

/* Table styles */
table {
  @apply text-gray-700 w-full my-7 self-center;
}
table caption {
  @apply w-full text-xs text-right non-important bg-slate-300 p-1;
}
th {
  @apply bg-gray-700 text-gray-100 py-1 px-2;
}
thead {
  @apply drop-shadow-md;
}
tbody {
  @apply drop-shadow-md;
}
tbody tr {
  @apply bg-slate-100 even:bg-slate-200 focus:bg-green-300;
}
td {
  @apply w-auto p-2 text-right whitespace-nowrap;
}
td a {
  @apply btn-primary px-2 py-0;
}

/* Code styles */
pre {
  direction: ltr;
  @apply drop-shadow-md;
  @apply bg-none !important;
}
code {
  @apply rounded-md;
}

/* File explorer styles */
.file-explorer-header {
  @apply card-title bg-slate-400 
    rounded-tr-2xl drop-shadow-md mr-0 pr-0 -mb-2 w-40;
}
.file-explorer-path {
  @apply w-full bg-slate-400 text-slate-200 
  rounded-md rounded-t-none 
  my-2 p-2;
}
.file-explorer-element {
  @apply flex flex-col flex-wrap items-center 
  w-40 mr-1 mt-1 p-1 pl-3 pt-4
  border-solid border-2 border-slate-200
  rounded-lg;
}

#__next {
  @apply flex flex-col flex-wrap w-full 
  items-center justify-center p-2;
}

.container {
  @apply flex flex-col items-center justify-center w-full
  lg:p-5 md:p-2 sm:p-1 mb-36 mt-36 text-justify;
}

/* Navbar styles */
.navbar {
  @apply fixed flex flex-col flex-wrap 
    items-center justify-between
    w-full p-2 top-0 z-10
    drop-shadow-xl
    bg-slate-200;
}
.nav-link {
  @apply flex w-full text-gray-600 text-base font-bold;
}
.active {
  @apply bg-slate-300 text-gray-700 rounded-md py-1 px-2;
}

/* Page header styles */
.page-header-navbar {
  @apply flex flex-row flex-grow card 
    w-full h-auto m-0 py-1 px-2 lg:px-5 md:px-4 sm:px-2 rounded-b-none 
    bg-gradient-to-r
    from-gray-200 to-gray-400;
}
.page-header-navbar-button {
  @apply btn-light flex flex-row items-center justify-center;
}
.page-header-navbar-button p {
  @apply my-0 mx-1 py-0 text-xs;
}
.page-header {
  @apply card rounded-none w-full my-0 p-2 lg:p-5 md:p-4 sm:p-2;
}
.collection-container {
  @apply flex flex-col items-center w-full;
}

/* Footer styles */
footer {
  @apply flex flex-col w-full self-center;
}
footer p {
  @apply block text-gray-500 text-center text-xs p-2;
}
footer hr {
  @apply border-2 border-gray-800 border-opacity-50;
}
.social-item {
  @apply rounded-md px-5 m-1;
}
.sponsor-link {
  @apply btn-primary bg-opacity-100 fixed left-0 bottom-16 
    flex flex-row justify-center w-auto h-16 m-0 px-1 rounded-l-none;
}

/* Icon styles */
.icon {
  @apply fill-slate-200 w-4 h-auto;
}
p .icon {
  @apply fill-gray-700;
}
a .icon {
  @apply fill-blue-400 bg-opacity-75;
}
.github-icon .icon {
  @apply w-6;
}
.btn-light .icon {
  @apply fill-gray-600;
}
.card-title .icon {
  @apply fill-gray-800;
}

/* Services styles */
.service {
  @apply flex flex-row justify-center items-center w-full my-3;
}
.service-group {
  @apply flex flex-col items-center w-full mt-5;
}

/* Event post image styles */
#export-post {
  @apply absolute flex flex-row flex-wrap card border-none -right-3.5;
  clip-path: circle(0);
  width: 270px;
  height: 270px;
}
.post-heading {
  @apply flex flex-col relative w-full m-0 p-0;
}
.post-heading p {
  @apply text-2xs text-center;
}
.post-content {
  @apply flex flex-col justify-start w-3/4 p-0.5 pr-2 -mt-5;
}
.post-content p {
  @apply text-3xs;
}
.post-content h2 {
  @apply text-base m-0 p-0;
}
.post-content h3 {
  @apply text-2xs;
}
.post-content h4 {
  @apply text-2xs;
}
.post-content h5 {
  @apply text-2xs;
}
.post-content h6 {
  @apply text-2xs;
}
.post-content ul {
  @apply text-gray-400 text-3xs px-0.5 py-0;
}
.post-content ul li {
  @apply p-0;
}
.post-bio {
  @apply flex flex-col items-start justify-start mr-1 mt-2 w-3/4;
}
.post-topics {
  @apply w-full h-20 overflow-hidden mt-0;
}
.post-icons {
  @apply flex flex-col items-center justify-end rounded-full rounded-l-none rounded-b-none w-1/4 p-1;
  background-image: var(--my-gradient);
}

/* Event story image styles */
#export-story {
  @apply absolute flex flex-col flex-wrap card border-none -right-3.5;
  clip-path: circle(0);
  width: 270px;
  height: 480px;
}
.story-heading {
  @apply flex flex-col relative w-full m-0 p-0;
}
.story-heading p {
  @apply text-2xs text-center;
}
.story-content {
  @apply flex flex-col items-start justify-start w-full -mt-4 p-1 pr-2;
}
.story-content p {
  @apply text-2xs;
}
.story-content h2 {
  @apply text-base m-0 p-0;
}
.story-content h3 {
  @apply text-2xs;
}
.story-content h4 {
  @apply text-2xs;
}
.story-content h5 {
  @apply text-2xs;
}
.story-content h6 {
  @apply text-2xs;
}
.story-content hr {
  @apply mt-20;
}
.story-content ul {
  @apply text-gray-400 text-2xs px-0.5 py-0;
}
.story-content ul li {
  @apply p-0;
}
.story-bio {
  @apply flex flex-col items-start justify-start mr-1 mt-6 w-1/2;
}
.story-topics {
  @apply w-full overflow-hidden h-28 -mt-4;
}
.story-icons {
  @apply absolute flex flex-row 
    items-center justify-evenly
    right-0 bottom-10 
    w-full h-14 p-1;
  background-image: var(--my-gradient);
}

/* Event printable pdf styles */
#export-pdf {
  @apply relative flex flex-row justify-center items-center flex-wrap
    card border-none m-0 p-0 -right-16;
  clip-path: circle(0);
  width: 793.3px;
  height: 1122px;
}
.pdf-heading {
  @apply flex flex-col relative w-full;
}
.pdf-heading p {
  @apply text-2xl text-center;
}
.pdf-heading .event-subject {
  @apply w-full h-24 px-5;
}
.pdf-content {
  @apply flex flex-col justify-start w-3/4 p-1 pr-5 -mt-96;
}
.pdf-content p {
  @apply text-2xl;
}
.pdf-content h2 {
  @apply text-5xl;
}
.pdf-content h3 {
  @apply text-4xl;
}
.pdf-content h4 {
  @apply text-3xl;
}
.pdf-content h5 {
  @apply text-2xl;
}
.pdf-content ul {
  @apply text-gray-400 text-xl px-2 py-0;
}
.pdf-content a {
  @apply text-2xl text-gray-700;
}
.pdf-bio {
  @apply flex flex-col items-start justify-start mr-5 mt-0 w-3/4;
}
.pdf-icons {
  @apply flex flex-col items-center justify-end rounded-full rounded-l-none rounded-b-none w-1/4 h-3/4 pb-5 -mb-11;
  background-image: var(--my-gradient);
}

/* Profile image styles */
.profile-picture img {
  @apply rounded-full;
}
.profile-picture .github-icon {
  @apply absolute right-0 top-32
    rounded-full border-solid border-2 border-slate-200
    bg-slate-200;
}
.post-content .profile-picture .github-icon {
  @apply absolute -top-4 -right-2
    rounded-full border-solid border-slate-200
    bg-slate-200;
  border-width: 1px;
}
.story-content .profile-picture .github-icon {
  @apply absolute -top-5 -right-4
    rounded-full border-solid border-2 border-slate-200
    bg-slate-200;
}
.pdf-content .profile-picture .github-icon {
  @apply absolute -top-14 -right-4
    rounded-full border-solid border-slate-200
    bg-slate-200;
}
.contributors .profile-picture .github-icon {
  @apply top-14;
}

/* Other styles */
.card-button a {
  @apply btn-primary rounded-xl rounded-b-none py-0 px-3 mb-0;
}
.card-button button {
  @apply btn-primary rounded-xl rounded-b-none py-0 px-3 mb-0;
}
