<div class="card flex flex-row flex-wrap justify-start 
items-center w-full mt-32 p-0 lg:p-5 md:p-4 sm:p-2">
    <h3 class="w-full">نویسندگان</h3>
    <hr>
    {% for author in site.authors %}
    <div class="card" style="max-width: 220px;">
        <!-- Bio -->
        <div class="card-body">
            <!-- Author name -->
            <h5 class="card-title justify-center">
                <a href = "{{ author.url }}">{{ author.name }}</a>
            </h5>
            <!-- Author position -->
            <h6 class="card-subtitle text-center">
                {{ author.position }}
            </h6>
        </div>
        <!-- Github link -->
        {% assign github_link = "https://github.com/" | append: author.github_id %}
        <div class="card-footer justify-center">
            <a href="{{ github_link }}">
                {% include svgs/github.svg %}
            </a>
        </div>
    </div>
    {% endfor %}
</div>