<div class="flex flex-row flex-wrap justify-start 
items-center w-full mt-32">
    <h3 class="w-full text-slate-300 p-2 mb-4">نویسندگان</h3>
    {% for author in site.authors %}
    <!-- Bio -->
    <div class="btn-primary rounded-b-none pb-0" style="max-width: 220px;">
        <!-- Author name -->
        <a class="card-body" href="{{ author.url }}">
            <h5 class="card-title justify-center">
                <p>{{ author.name }}</p>
            </h5>
        </a>
        <!-- Author position -->
        <div class="card-footer pb-0 justify-center">
            <h6 class="card-subtitle text-center">
                {{ author.position }}
            </h6>
        </div>
    </div>
    {% endfor %}
</div>