<footer>
    {% assign local_url = http://localhost:4000 %}
    {% assign production_url = site.url %}
    <!-- Social links -->
    <ul class="flex flex-row navbar-nav justify-center p-0 m-0 mb-2">
        {% for item in site.data.social-navigation %}
        <li class="social-item">
            <a href="{{ item.link }}">{% include {{ item.svg_path }} %}</a>
        </li>
        {% endfor %}
    </ul>
    <hr class="mt-0 visible">
    <!-- Footer links -->
    <ul class="flex flex-row justify-center list-none w-full p-0 m-0 mt-2">
        {% for item in site.data.navigation %}
            {% if item.type == "footer-menu" %}
                <li class="p-2 pt-0 pb-0">
                    <a href="{% if site.url == production_url or site.url == local_url %}
                        {{ item.link }}{% else %}{{ item.outer_link }}{% endif %}" 
                        class="non-important">
                        {{ item.name }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
    <p class="text-2xs">
        تمامی حقوق متعلق به انجمن
        علمی کامپیوتر و فناوری اطلاعات دانشگاه صنعتی ارومیه
        می‌باشد.
    </p>
    <!-- Sponsor link -->
    {% assign page_title = page.title | split: " " | first %}
    <a class="sponsor-link {% if page_title == 'حمایت' %}invisible{% endif %}"
        href="{% if site.url == production_url or site.url == local_url %}
        /sponsor{% else %}{{ site.domain }}/sponsor{% endif %}">
        {% include svgs/heart.svg %}
    </a>
</footer>