<!--//////card accordion btn btn-link bg-light date
    non-important collapsed style="visibility: hidden;"
    collapse show ///////-->
<div class="card w-full mt-5 p-0 lg:p-5 md:p-4 sm:p-2">
    <!-- title -->
    <h2>اعضای مرکزی انجمن</h2>
    <div id="accordion" class="mt-3">
        {% assign members_collection = site.members | reverse %}
        {% assign current = members_collection | first %}
        {% for member in members_collection %}
            {% assign header_id = "header" | append: member.members_id %}
            {% assign collapse_id = "collapse" | append: member.members_id %}
            <!-- Button -->
            <button class="btn btn-link bg-light date non-important w-full mb-0 mt-2 
            {% if member.members_id != current.members_id %}collapsed{% endif %}" 
            style="visibility: hidden;" 
            data-bs-toggle="collapse" 
            data-bs-target="#{{ collapse_id }}" 
            aria-expanded="{% if member.members_id == current.members_id %}true{% else %}false{% endif %}" 
            aria-controls="{{ collapse_id }}">
                {{ member.date | date_to_string }}
            </button>
            <!-- Collapse -->
            <div id="{{ collapse_id }}" 
            class="collapse mt-8 
            {% if member.members_id == current.members_id %}show{% endif %}" 
            aria-labelledby="{{ header_id }}" 
            data-parent="#accordion">
                {{ member.content }}
            </div>
        {% endfor %}
    </div>
</div>
<!-- persin-long-date module -->
<script src="../assets/js/persian-long-date.js"></script>
<!-- change date to persian -->
<script>
    let dateElement = document.querySelectorAll(".date");
    dateElement.forEach(element => {
        let currentYearDate = new Date(element.innerHTML);
        let nextYearDate = new Date(currentYearDate.getFullYear() + 1, currentYearDate.getMonth(), currentYearDate.getDay());
        currentYearDate = getPersianDate(currentYearDate.toDateString()).split(" ")[3];
        nextYearDate = getPersianDate(nextYearDate.toDateString()).split(" ")[3];
        element.innerHTML = "سال" + " " + nextYearDate + " - " + currentYearDate;
        element.style.visibility = "visible";
    });
</script>
