<div class="card w-full mt-5 p-0 lg:p-5 md:p-4 sm:p-2">
    <!-- title -->
    <h2>اعضای مرکزی انجمن</h2>
    <div id="accordion-collapse mt-3" data-accordion="collapse">
        {% assign members_collection = site.members | reverse %}
        {% assign current = members_collection | first %}
        {% for member in members_collection %}
            {% assign header_id = "header" | append: member.members_id %}
            {% assign collapse_id = "collapse" | append: member.members_id %}
            <!-- Button -->
            <button onclick="document.querySelector('#{{ collapse_id }}').classList.toggle('hidden')" 
            class="btn-light date w-full rounded-b-none m-0 mt-2 invisible" 
            data-accordion-target="#{{ collapse_id }}"
            aria-expanded="{% if member.members_id == current.members_id %}true{% else %}false{% endif %}" 
            aria-controls="{{ collapse_id }}">
                {{ member.date | date_to_string }}
            </button>
            <!-- Collapse -->
            <div id="{{ collapse_id }}" 
            class="collapse m-0 -mt-6 
            {% if member.members_id != current.members_id %}hidden{% endif %}" 
            aria-labelledby="{{ header_id }}">
                {{ member.content }}
            </div>
        {% endfor %}
    </div>
</div>
<!-- persin-long-date module -->
<script src="{% link assets/js/persian-long-date.js %}"></script>
<!-- change date to persian -->
<script>
    let dateElement = document.querySelectorAll(".date");
    dateElement.forEach(element => {
        let currentYearDate = new Date(element.innerHTML);
        let nextYearDate = new Date(currentYearDate.getFullYear() + 1, currentYearDate.getMonth(), currentYearDate.getDay());
        currentYearDate = getPersianDate(currentYearDate.toDateString()).split(" ")[3];
        nextYearDate = getPersianDate(nextYearDate.toDateString()).split(" ")[3];
        element.innerHTML = "سال" + " " + nextYearDate + " - " + currentYearDate;
        element.style.visibility = "visible";
    });
</script>
