<nav class="navbar{% if page.url == '/' %} home-navbar {% endif %}">
    <div class="flex flex-row w-full justify-between">
        <!-- CEITUUT logo -->
        <a class="navbar-brand mr-4 w-20" href="{{ site.url }}">
            {% include svgs/ceit-icon.svg %}
        </a>
        <!-- Mobile menu button-->
        <div class="navbar-toggler flex items-center sm:hidden">
            <button id="mobile-button" type="button" class="inline-flex items-center 
            justify-center p-2 rounded-md text-gray-400" 
            aria-controls="mobile-menu" aria-expanded="false">
                {% include svgs/list.svg %}
            </button>
        </div>
        <!-- Desktop Menu -->
        <div class="hidden w-full sm:block max-w-7xl mx-auto px-2 sm:px-6 lg:px-8">
            <div class="relative flex flex-row w-full items-center justify-start h-16">
                <div class="flex-1 flex w-full items-center justify-start">
                    <ul class="flex flex-row w-full justify-start">
                        {% assign page_url = page.url %}
                        {% for item in site.data.main-navigation %}
                            {% assign item_link = item.link %}
                            <li class="mx-2">
                                <a aria-current="page" href="{{ item.link }}" 
                                class="nav-link {% if page_url == item_link %}
                                active {% endif %}">
                                {{ item.name }}
                                </a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- Mobile Menu -->
    <div class="hidden w-full" id="mobile-menu">
        <ul class="flex flex-col items-start w-full px-2 pt-2 pb-3">
            {% assign page_url = page.url %}
            {% for item in site.data.main-navigation %}
                {% assign item_link = item.link %}
                <li class="my-1 w-full">
                    <a aria-current="page" href="{{ item.link }}" 
                    class="nav-link block w-full {% if page_url == item_link %}
                    active {% endif %}">
                        {{ item.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</nav>