<nav class="navbar
{% if page.url == '/' %} home-navbar {% endif %}">
    <div class="container-fluid">
        <!-- CEITUUT logo -->
            <a class="navbar-brand" href="{{ site.url }}" style="width: 84px;">
                {% include svgs/ceit-icon.svg %}
            </a>
        <!-- Toggle button -->
        <button class="navbar-toggler" type="button" 
        data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" aria-expanded="false" 
        aria-label="Toggle navigation">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
            </svg>
        </button>
        <!-- Other links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav w-100 me-auto mb-2 mb-lg-0">
                {% assign page_url = page.url %}
                {% for item in site.data.main-navigation %}
                    {% assign item_link = item.link %}
                    <li class="nav-item">
                        <a aria-current="page" href="{{ item.link }}" 
                        class="nav-link {% if page_url == item_link %}
                        active {% endif %}">
                        {{ item.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</nav>