<div class="page-header-navbar">
    <!-- Back link -->    
    {% if page.layout == "course" %}
        <a class="page-header-navbar-button" href="/collections/requirements/">
            {% include svgs/back.svg %}
            <p>بازگشت</p>
        </a>
        {% else %}
        <a class="page-header-navbar-button" href="{{ page.back }}">
            {% include svgs/back.svg %}
            <p>بازگشت</p>
        </a>
    {% endif %}

    <!-- Contribution link -->    
    {% if page.layout == "course" %}
        <a class="page-header-navbar-button" 
            href="https://github.com/ceituut/{{ site.repo }}">
            {% include svgs/activity.svg %}
            <p>مشارکت</p>
        </a>
    {% else %}    
        {% for item in site.data.navigation %}
            {% assign item_link = item.link | prepend: {{ site.url }} %}
            {% if page.url == item_link %}
                <a class="page-header-navbar-button" href="{{ item.repo }}">
                    {% include svgs/activity.svg %}
                    <p>مشارکت</p>
                </a>
            {% endif %}    
        {% endfor %}
    {% endif %}    
</div>