<div class="card">
  <div class="card-body">
    <!-- Post title -->
    <h4 class="card-title">
        {% include svgs/file-earmark-text.svg %}
        {{ post.title }}
    </h4>
    <!-- Post categories -->
    <h5 class="card-subtitle">
      {{ post.categories }}
    </h5>  
    <!-- Post description -->
    <p class="card-text">{{ post.content | strip_html | truncatewords: 50 }}</p>
  </div>
  <!-- Post author and date -->
  <div class="card-footer justify-end" dir="ltr">
      <p class="date m-0 non-important invisible">
        {{ post.date | date_to_string }}
      </p>
  </div>
  <div class="card-button">
    <a href="{{ post.url }}">مطالعه</a>
  </div>
</div>