<!-- For instagram post -->
<div id="capture-post" dir="rtl">
    <!-- content -->
    <div class="post-content">
        <!-- Subject -->
        <h1>
            {% assign contest_number = page.number %}
            {{ page.title | append: " " | append: contest_number }}
        </h1>
        <!-- Score -->
        <h4 class="card-subtitle mb-2 text-muted">
            {{ page.score }}
            امتیاز
        </h4>
        <hr>
        <!-- Gudie -->
        <p>برای شرکت در این چالش به صفحه ی گیتهاب انجمن مراجعه کنید</p>
        <hr>
        <!-- Date -->
        <div class="d-flex flex-row m-0 p-0">
            <!-- Start date -->
            <div class="w-50">
                <h5>زمان شروع</h5>
                <p class="card-text date" style="visibility: hidden;">{{ page.start_date | date_to_string }}</p>
                <p class="card-text"> ساعت {{ page.start_date | date: "%H:%M" }}</p>
            </div>
            <!-- End date -->
            <div class="w-50">
                <h5>زمان پایان</h5>
                <p class="card-text date" style="visibility: hidden;">{{ page.end_date | date_to_string }}</p>
                <p class="card-text"> ساعت {{ page.end_date | date: "%H:%M" }}</p>
            </div>
        </div>
    </div>
    <!-- Icons -->
    <div class="post-icons">
        <img src="../assets/images/ceit-icon.svg" />
    </div>
</div>