<!-- For instagram story -->
<div id="capture-story" class="card border-none">
    <!-- content -->
    <div class="story-content">
        <!-- Introduction -->
        <p>انجمن علمی کامپیوتر دانشگاه صنعتی ارومیه برگزار می کند</p>
        <hr>
        <!-- Subject -->
        <h1>{{ page.title }}</h1>
        <!-- Lecturer -->
        <div class="flex flex-row mt-8">
            {% assign github_link = "https://github.com/" | append: page.github_id %}
            {% assign github_pic = "../events/" | append: page.github_id | append: ".png" %}
            <!-- Github picture -->
            <div class="lecturer-pic w-1/2">
                <img src='{{ github_pic }}' alt="{{ lecturer.name }} profile picture">
                <div class="relative">
                    <p class="github-icon non-important">{% include svgs/github.svg %}</p>
                    <p class="m-0 p-0 non-important">{{ page.github_id }}</p>
                </div>
            </div>
            <!-- Bio -->
            <div class="story-bio w-1/2">
                <h2>{{ page.lecturer }}</h2>
                <p>{{ page.bio }}</p>
            </div>
        </div>
        <hr>
        <!-- Topics -->
        <ul>
            <li><p class="m-0">{{ page.topic1 }}</p></li>
            <li><p class="m-0">{{ page.topic2 }}</p></li>
            <li><p class="m-0">{{ page.topic3 }}</p></li>
            <li><p class="m-0">{{ page.topic4 }}</p></li>
        </ul>
        <hr>
        <!-- Date -->
        <h3 class="date invisible m-0">
            {{ page.date | date_to_string }}
        </h3>
        <!-- Time -->
        <h4 class="m-0">
            ساعت 
            {{ page.date | date: "%H:%M" }}
        </h4>
        <!-- Location -->
        <h5 class="m-0">{{ page.location }}</h5>
    </div>
    <!-- Icons -->
    <div class="story-icons">
        {% include svgs/uut-icon.svg %}
        {% include svgs/uut-cultural-affairs.svg %}
        {% include svgs/ceit-icon.svg %}
    </div>
</div>