<!-- For instagram post -->
<div id="capture-post" class="card border-none" style="margin-top: 1000px;">
    <!-- Background -->
    <div class="absolute" style="z-index: -10;">
        <img src="{% link assets/images/background.png %}" alt="Background">
    </div>
    <!-- Heading -->
    <div class="post-heading">
        <!-- Introduction -->
        <p>انجمن علمی کامپیوتر دانشگاه صنعتی ارومیه برگزار می کند</p>
        <!-- Subject -->
        <h1 class="event-subject" dir="auto">{{ page.title }}</h1>
    </div>
    <!-- Content -->
    <div class="post-content">
        <!-- Lecturer -->
        <div class="flex flex-row">
            {% assign github_link = "https://github.com/" | append: page.github_id %}
            {% assign github_pic = "./" | append: page.github_id | append: ".png" %}
            <!-- Github picture -->
            <div class="lecturer-pic w-1/3">
                <img src='{{ github_pic }}' alt="{{ page.lecturer }}">
                <div class="relative w-9/12 h-full">
                    <p class="github-icon non-important">{% include svgs/github.svg %}</p>
                    <p class="w-full text-center m-0 p-0 non-important">{{ page.github_id }}</p>
                </div>
            </div>
            <!-- Bio -->
            <div class="post-bio">
                <h2>{{ page.lecturer }}</h2>
                <p>{{ page.bio }}</p>
            </div>
        </div>
        <!-- Topics -->
        <div class="post-topics" dir="auto">
            {{ page.content }}
        </div>
        <!-- Time and location -->
        <div class="post-time">
            <!-- Date -->
            <h3 class="date invisible m-0">{{ page.date | date_to_string }}</h3>
            <!-- Clock -->
            <div class="flex flex-row items-center m-0 p-0">
                <p class="mt-0 -mb-10">{% include svgs/clock.svg %}</p>
                <h4 class="mt-0 mb-0">ساعت {{ page.date | date: "%H:%M" }}</h4>
            </div>
            <!-- Location -->
            <div class="flex flex-row items-center m-0 p-0">
                <p class="mt-0 -mb-10">{% include svgs/geo-alt.svg %}</p>
                <h5 class="mt-0 mb-0">{{ page.location }}</h5>
            </div>
        </div>
    </div>
    <!-- Icons -->
    <div class="post-icons">
        {% include svgs/ceit-icon.svg %}
        {% include svgs/uut-cultural-affairs.svg %}
        {% include svgs/uut-icon.svg %}
    </div>
</div>
