<!-- For event -->
<div class="card w-full p-0 lg:p-5 md:p-4 sm:p-2">
    <!-- content -->
    <div class="flex flex-col">
        <!-- Subject -->
        <h1>{{ page.title }}</h1>
        <!-- Lecturer -->
        <div class="flex flex-col">
            {% assign github_link = "https://github.com/" | append: page.github_id %}
            {% assign github_pic = "../events/" | append: page.github_id | append: ".png" %}
            <!-- Github picture -->
            <div class="lecturer-pic w-44 mb-4">
                <div class="relative">
                    <a href="{{ github_link }}">
                        {% include svgs/github.svg %}
                    </a>
                </div>
                <img class="w-40 h-40" 
                src='{{ github_pic }}' 
                alt="{{ lecturer.name }} profile picture">
            </div>
            <!-- Bio -->
            <div class="flex flex-col justify-end">
                <h2 class="my-0">{{ page.lecturer }}</h2>
                <p class="my-0">{{ page.bio }}</p>
            </div>
        </div>
        <hr>
        <!-- Topics -->
        <ul class="list-none p-0">
            <li><p>{{ page.topic1 }}</p></li>
            <li><p>{{ page.topic2 }}</p></li>
            <li><p>{{ page.topic3 }}</p></li>
            <li><p>{{ page.topic4 }}</p></li>
        </ul>
        <hr>
        <!-- Date -->
        <p class="date non-important m-0" style="visibility: hidden;">
            {{ page.date | date_to_string }}
        </p>
        <!-- Time -->
        <p class="non-important m-0">
            ساعت
            {{ page.date | date: "%H:%M" }}
        </p>
        <!-- Location -->
        <p class="non-important m-0">{{ page.location }}</p>
    </div>
</div>