<!-- For print -->
<div id="export-pdf" subject="{{ page.title }}">
    <!-- Background -->
    <div class="absolute m-0 p-0 top-0 -z-10">
        <img src="{% link assets/images/background.png %}" alt="Background">
    </div>
    <!-- Heading -->
    <div class="pdf-heading">
        <!-- Introduction -->
        <p>انجمن علمی کامپیوتر دانشگاه صنعتی ارومیه برگزار می کند</p>
        <!-- Subject -->
        <h1 class="event-subject" dir="auto">{{ page.title }}</h1>
    </div>
    <!-- Content -->
    <div class="pdf-content">
        <!-- Lecturer -->
        <div class="flex flex-col items-start">
            {% assign github_link = "https://github.com/" | append: page.github_id %}
            {% assign github_pic = "./" | append: page.github_id | append: ".png" %}
            <!-- Github picture -->
            <div class="profile-picture w-2/5">
                <img src='{{ github_pic }}' alt="{{ page.lecturer }}">
                <div class="relative w-9/12 h-full">
                    <p class="github-icon non-important">{% include svgs/github.svg %}</p>
                </div>
            </div>
            <!-- Bio -->
            <div class="pdf-bio">
                <h2>{{ page.lecturer }}</h2>
                <p class="m-0 mt-0.5">{{ page.bio }}</p>
            </div>
        </div>
        <!-- Details -->
        <div class="pdf-time pb-3">
            <!-- QRcode -->
            <div id="qrcode" content="{{site.url}}{{page.url}}"></div>
            <!-- Time and location -->
            <div class="flex flex-col">
                <!-- Date -->
                <p class="date invisible m-0">{{ page.date | date_to_string }}</p>
                <!-- Clock -->
                <div class="flex flex-row items-center m-0 p-0">
                    <p class="mt-0 -mb-10">{% include svgs/clock.svg %}</p>
                    <p class="mt-0 mb-0">ساعت {{ page.date | date: "%H:%M" }}</p>
                </div>
                <!-- Location -->
                <div class="flex flex-row items-center m-0 p-0">
                    <p class="mt-0 -mb-10">{% include svgs/geo-alt.svg %}</p>
                    <p class="mt-0 mb-0">{{ page.location }}</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Icons -->
    <div class="pdf-icons">
        {% include svgs/ceit-icon.svg %}
        {% include svgs/uut-cultural-affairs.svg %}
        {% include svgs/uut-icon.svg %}
    </div>
</div>
