<!-- For event -->
<div class="card w-full p-0 lg:p-5 md:p-4 sm:p-2">
    <!-- content -->
    <div class="flex flex-col">
        <!-- Subject -->
        <h1 dir="auto">{{ page.title }}</h1>
        <!-- Lecturer -->
        <div class="flex flex-col">
            {% assign github_link = "https://github.com/" | append: page.github_id %}
            {% assign github_pic = "./" | append: page.github_id | append: ".png" %}
            <!-- Github picture -->
            <div class="profile-picture relative w-44 mb-4">
                <img src='{{ github_pic }}' alt="{{ page.lecturer }}">
                <a class="github-icon relative" href="{{ github_link }}">{% include svgs/social/github.svg %}</a>
            </div>
            <!-- Bio -->
            <div class="flex flex-col justify-end">
                <h2 class="my-0">{{ page.lecturer }}</h2>
                <p class="my-0">{{ page.bio }}</p>
            </div>
        </div>
        <hr>
        <!-- Topics -->
        <div dir="auto">
            {{ page.content }}
        </div>
        <hr>
        <!-- Time and location -->
        <div class="event-time">
            <!-- Date -->
            <p class="date invisible m-0">{{ page.date | date_to_string }}</p>
            <!-- Clock -->
            <div class="flex flex-row items-center m-0 p-0">
                <p class="mt-0 mb-0">{% include svgs/clock.svg %}</p>
                <p class="mt-0 mb-0">ساعت {{ page.date | date: "%H:%M" }}</p>
            </div>
            <!-- Location -->
            <div class="flex flex-row items-center m-0 p-0">
                <p class="mt-0 mb-0">{% include svgs/geo-alt.svg %}</p>
                <p class="mt-0 mb-0">{{ page.location }}</p>
            </div>
        </div>
    </div>
</div>