<!-- For instagram story -->
<div id="export-story" subject="{{ page.title }}">
    <!-- Background -->
    <div class="absolute -z-10">
        <img src="{% link assets/images/background.png %}" alt="Background">
    </div>
    <!-- Heading -->
    <div class="story-heading">
        <!-- Introduction -->
        <p class="p-0 m-0 mt-0.5">
            انجمن علمی کامپیوتر دانشگاه صنعتی ارومیه برگزار می کند
        </p>
        <!-- Subject -->
        <h1 class="event-subject" dir="auto">{{ page.title }}</h1>
    </div>
    <!-- Content -->
    <div class="story-content">
        <!-- Lecturer -->
        <div class="flex flex-row mt-8">
            {% assign github_link = "https://github.com/" | append: page.github_id %}
            {% assign github_pic = "./" | append: page.github_id | append: ".png" %}
            <!-- Github picture -->
            <div class="profile-picture w-1/2">
                <img src='{{ github_pic }}' alt="{{ page.lecturer }}">
                <div class="relative w-7/12 h-full">
                    <p class="github-icon non-important m-0 p-0">
                        {% include svgs/social/github.svg %}
                    </p>
                    <p class="w-full text-center non-important -mt-0.5 mx-0 p-0">
                        {{ page.github_id }}
                    </p>
                </div>
            </div>
            <!-- Bio -->
            <div class="story-bio w-1/2">
                <h2>{{ page.lecturer }}</h2>
                <p class="m-0 mt-0.5">{{ page.bio }}</p>
            </div>
        </div>
        <!-- Topics -->
        <div class="story-topics" dir="auto">
            {{ page.content }}
        </div>
        <!-- Time and location -->
        <div class="story-time">
            <!-- Date -->
            <h3 class="date invisible m-0">{{ page.date | date_to_string }}</h3>
            <!-- Clock -->
            <div class="flex flex-row items-center m-0">
                <p class="mt-0.5 -mb-2 px-0 py-1">{% include svgs/clock.svg %}</p>
                <p class="my-0 px-0">ساعت {{ page.date | date: "%H:%M" }}</p>
            </div>
            <!-- Location -->
            <div class="flex flex-row items-center m-0">
                <p class="mt-0.5 -mb-2 px-0 py-1">{% include svgs/geo-alt.svg %}</p>
                <p class="my-0 px-0">{{ page.location }}</p>
            </div>
        </div>
    </div>
    <!-- Icons -->
    <div class="story-icons">
        {% include svgs/uut/uut-icon.svg %}
        {% include svgs/uut/uut-cultural-affairs.svg %}
        {% include svgs/ceituut/ceituut-icon.svg %}
    </div>
</div>
