<!-- For event -->
<div class="card w-full p-0 lg:p-5 md:p-4 sm:p-2">
    <!-- content -->
    <div class="flex flex-col">
        <!-- Subject -->
        <h1 dir="auto">{{ page.title }}</h1>
        <!-- Lecturer -->
        <div class="flex flex-col">
            {% assign github_link = "https://github.com/" | append: page.github_id %}
            {% assign github_pic = "../" | append: page.github_id | append: ".png" %}
            <!-- Github picture -->
            <div class="lecturer-pic relative w-44 mb-4">
                <img src='{{ github_pic }}' alt="{{ page.lecturer }}">
                <a class="github-icon relative" href="{{ github_link }}">{% include svgs/github.svg %}</a>
            </div>
            <!-- Bio -->
            <div class="flex flex-col justify-end">
                <h2 class="my-0">{{ page.lecturer }}</h2>
                <p class="my-0">{{ page.bio }}</p>
            </div>
        </div>
        <hr>
        <!-- Topics -->
        <div dir="auto">
            {{ page.content }}
        </div>
        <hr>
        <!-- Date -->
        <p class="date non-important m-0 p-0 invisible">
            {{ page.date | date_to_string }}
        </p>
        <!-- Time -->
        <p class="non-important m-0 p-0">
            ساعت
            {{ page.date | date: "%H:%M" }}
        </p>
        <!-- Location -->
        <p class="non-important m-0 p-0">{{ page.location }}</p>
    </div>
</div>