<div class="card flex flex-row w-full justify-start items-center
    rounded-t-none mt-0 py-3 px-2 lg:px-5 md:px-4 sm:px-2" x-data="{ open: false }">
    <!-- Toggle filter options -->
    <button class="btn-primary" @click="open = !open">فیلتر</button>
    <div class="flex flex-row flex-wrap w-full" x-show="open" x-transition>
        <!-- Search -->
        <input x-ref="searchField" x-model="search" placeholder="جستجو" type="search"
            @click="viewPage(1)" class="form-element" @change="viewPage(1)" x-transition
            @keydown.window.prevent.slash="viewPage(1), $refs.searchField.focus()"/>

        <!-- Search options -->
        <div x-data="{ open: false }" class="flex flex-row w-auto h-auto">
            <div class="flex flex-row flex-wrap">
                <template x-for="property in collectionProperties">
                    <template x-if="property.searchable">
                        <button class="mx-0.5" 
                            :class="searchProperty == property.enName ? 'btn-primary' : 'btn-light'" 
                            @click="searchProperty = property.enName"
                            x-text="property.faName">
                        </button>
                    </template>
                </template>
            </div>
        </div>

        <!-- Category selection -->
    </div>
</div>