<div :class="pageCount == 0 | pageCount == 1 ? 
    'hidden' : 'pagination'">
    <!-- Previous page button -->
    <a :class="currentPage == 1 ? 'btn-disabled' : 'btn-primary'"
        @click="viewPage(currentPage - 1)" href="#top">
        صفحه قبل
    </a>
    <!-- Page number buttons -->
    <template x-for="index in pageCount">
        <a :class="currentPage == index ? 'btn-disabled' : 'btn-primary'" 
            @click="viewPage(index)" x-text="index" href="#top">
        </a>    
    </template>
    <!-- Next page button -->
    <a :class="currentPage == pageCount ? 'btn-disabled' : 'btn-primary'" 
        @click="viewPage(currentPage + 1)" href="#top">
        صفحه بعد
    </a>
</div>