---
layout: default
---
<div class="card shadow author">
    <div class="card-body text-dark">
      <!-- Author name -->
      <h2 class="card-title">
          {{ page.name }}
      </h2>
      <!-- Author position -->
      <h3 class="card-subtitle mb-2 text-muted">
        {{ page.position }}
      </h3>  
      <ul>
          {% assign author_id  = page.github_id | split: "/" | last%}
          {% assign filtered_posts = site.posts | where: "author", author_id %}
          {% for post in filtered_posts %}
              {% include post.html %}
          {% endfor %}
      </ul>
    </div>
</div>


{{ content }}
