<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% feed_meta %}
  {% seo %}

  <!-- Favicon -->
  <link rel="icon" type="image/svg+xml" href="{% link assets/images/favicon.svg %}">

  <!-- Syntax highlighter -->
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/styles/default.min.css">
  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.5.0/highlight.min.js"></script>
  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.0.3/styles/vs2015.min.css">
  
  <!-- Styles -->
  <link href="{% link assets/css/output.css %}" rel="stylesheet">

  <!-- Title -->
  {% assign contest_number = page.number %}
  <title>{{ page.title | append: " " | append: contest_number }}</title>
</head>

<body class="bg-gradient-to-t" dir="rtl">
  {% include navigation.html %}
  <div class="container mb-36 mt-36 text-justify">
    <div class="flex flex-row items-center justify-center m-0 mb-14 p-2 lg:p-5 md:p-2 sm:p-0">
      {% include contests/contest.html %}
    </div>
  </div>
  {% include footer.html %}
  <!-- Listner for mobile main menu button -->
  <script>
    const button = document.querySelector("#mobile-button");
    const menu = document.querySelector("#mobile-menu");
    button.addEventListener("click", () => {
      menu.classList.toggle("hidden");
    });
  </script>
  <!-- persin-long-date madule -->
  <script src="../assets/js/persian-long-date.js"></script>
  <!-- Change date to persian -->
  <script>
    let eventDateElements = document.querySelectorAll(".date");
    eventDateElements.forEach(element => {
        element.innerHTML = getPersianDate(element.innerHTML);
    element.style.visibility = "visible";
    });
    hljs.highlightAll();
  </script>
</body>
</html>