<!doctype html>
<html lang="fa">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% feed_meta %}
  {% seo %}

  <!-- Favicon -->
  <link rel="icon" type="image/svg+xml" href="{% link assets/images/favicon.svg %}">

  {% if page.layout == 'contest' or page.layout == 'post' %}
  <!-- Syntax highlighter -->
  <link rel="stylesheet" href="{% link assets/css/highlight.min.css %}">
  <script src="{% link assets/js/highlight.min.js %}"></script>
  <link rel="stylesheet" href="{% link assets/css/vs2015.min.css %}">
  {% endif %}
  
  <!-- alpine.js module -->
  <script defer src="{% link assets/js/alpine.min.js %}"></script>
  
  <!-- Collection hook -->
  {% if page.url == '/blog.html' or page.url == '/contests.html' 
  or page.url == '/events.html' or page.url == '/faqs.html' %}
  <script src="{% link assets/js/collection-hook.js %}"></script>
  {% endif %}

  <!-- Styles -->
  <link href="{% link assets/css/output.css %}" rel="stylesheet">

  <!-- Title -->
  <title>{{ page.title }}</title>
</head>

<body dir="rtl">
  {% include navigation.html %}
  <div class="container mb-36 mt-36 text-justify">
    <div class="flex flex-row items-center 
      justify-center m-2 mb-14 lg:p-5 md:p-2 sm:p-1">
      {{ content }}
    </div>
  </div>
  {% include footer.html %}

  <!-- Include default layout scripts -->
  {% include scripts/default-scripts.html %}

  <!-- Include scripts for layouts that inherit from default -->
  {% case page.layout %}
    {% when 'post' %}
      {% include scripts/post-scripts.html %}
    {% when 'contest' %}
      {% include scripts/contest-scripts.html %}
    {% when 'event' %}
      {% include scripts/event-scripts.html %}
  {% endcase %}
</body>

</html>