<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% feed_meta %}
    {% seo %}

    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="{% link assets/images/favicon.svg %}">
    
    <!-- Styles -->
    <link href="{% link assets/css/output.css %}" rel="stylesheet">

    <!-- Title -->
    <title>{{ page.title }}</title>
  </head>
  <body class="bg-gradient-to-t" dir="rtl">
    {% include navigation.html %}
    <div class="container mb-36 mt-36 text-justify">
      <div class="flex flex-row items-center justify-center m-2 mb-14 lg:p-5 md:p-2 sm:p-1">
        {{ content }}
      </div>
    </div> 
    {% include footer.html %}
    <!-- Listner for mobile main menu button -->
    <script>
      const button = document.querySelector("#mobile-button");
      const menu = document.querySelector("#mobile-menu");
      button.addEventListener("click", () => {
        menu.classList.toggle("hidden");
      });
    </script>
  </body>
</html>
