<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% feed_meta %}
    {% seo %}

    <!-- Favicon -->
    <link rel="icon" type="image/svg+xml" href="{% link assets/images/favicon.svg %}">
    
    <!-- Styles -->
    <link href="{% link assets/css/output.css %}" rel="stylesheet">

    <!-- Title -->
    <title>{{ page.title }}</title>
  </head>
  <body class="bg-gradient-to-t" dir="rtl">
    {% include navigation.html %}
    <div class="container mb-32 mt-32 text-justify">
      <div class="flex flex-row justify-center mb-14 lg:p-5 md:p-2 sm:p-0">
        {{ content }}
      </div>
    </div> 
    {% include footer.html %}
  </body>
</html>
