---
layout: default
---
<div class="w-full">
  {% include events/event.html %}
  {% include events/event-post.html %}
  {% include events/event-story.html %}
  {% include events/event-pdf.html %}
  <!-- Share event -->
  <div class="card p-0">
    <h1 class="card-title m-0">
      {% include svgs/share.svg %}
      اشتراک گذاری رویداد
    </h1>
    <p>شما می توانید تصاویر مناسب شبکه های اجتماعی را ذخیره کرده و به اشتراک بگذارید.</p>
    <div id="event-export-link-container" class="card-button pt-3 justify-center"></div>
  </div>
</div>